
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  border: 2px solid #000;
}

.location {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 20px;
}

h1 {
  font-size: 20px;
  margin: 40px 0 10px 0
}

h2 {
  font-size: 16px;
  margin: 0 0 5px 0;
}

h3 {
  font-size: 15px;
  margin: 0;
  line-height: 1.5;
}

.location__city {
  margin-top: 30px;
}

.location__address {
  margin-top: 30px;
}

.location__hours {
  margin-top: 30px;
}

.location__hours--item {
  display: inline-block;
}

.location__hours--day {
  min-width: 100px;
}

.location__phone {
  margin-top: 30px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  padding: 10px;
  min-height: 55px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--secondary);
  border-color: var(--tertiary);
  text-transform: uppercase;
  width: 100%;
  transition: background-color .3s ease;
  margin-top: 15px;
}

.menu-button:hover {
  background-color: var(--tertiary);
}


@media (min-width: 992px) {
  main {
    display: inline-flex;
  }
  .menu-button {
    width: 80% 
  }
  .location {
    margin-top: 0;
  }
}