main {
  text-align: center;
  position: relative;
  width: 100%;
}

#menu {
  margin-bottom: 150px;
}

.menu-wrapper {
  max-width: 1200px;
  position: relative;
}

.menu-section {
  position: relative;
  max-width: 1240px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin: 20px auto 50px;
}


.menu-section:nth-child(-n + 2) {
  margin-top: 80px;
}

.banner {
  height: 230px;
  width: 100vw;
  background-image: url('../images/breakfast.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.raised-title {
  position: absolute;
  top: -20px;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
  background-color: var(--tertiary);
  color: var(--white);
  padding: 0 35px;
  min-width: 275px;
  height: 60px;
  z-index: 2;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.raised-title h2 {
  margin-bottom: 0;
}

.menu-item {
  flex-basis: calc(33.3% - 40px);
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 4px solid var(--secondary);
}

.menu-item h3 {
  font-size: 18px;
  font-weight: 700;
}

/* Needs to scales with number of columns according to vw */
.menu-item:nth-child(-n + 4) {
  border-top: none;
}

.addon-section {
  position: relative;
  max-width: 1240px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin: 80px auto 50px;
}

#addon-box {
  border: 8px double var(--secondary); 
}

.addon-item {
  flex-basis: calc(33.3% - 40px);
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 20px 0;
}