.navbar {
  height: var(--navHeight);
  width: 100%;
  background-color: var(--secondary);
  position: fixed;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  top: 0;
  z-index: 10;
}

#hamburger-icon {
  height: 50px;
  width: 50px;
  z-index: 10;
  grid-column: 3 / 4;
  color: var(--primary);
  justify-self: center;
  align-self: center;
}

#navbar-phone {
  height: 50px;
  width: 50px;
  z-index: 10;
  grid-column: 1 / 2;
  color: var(--primary);
  justify-self: center;
  align-self: center;
}

#nav-fifty-two {
  margin: auto;
  font-size: 35px;
  font-weight: 700;
  z-index: 10;
  color: var(--primary);
  justify-self: center;
  align-self: center;
  grid-column: 2 / 3;
  border: 5px solid var(--primary);
  max-width: 200px;
}
.styled-link {
  margin: 0;
  padding: 0;
  align-self: center;
  text-decoration: none;
}

#nav-clear-icon {
  height: 50px;
  width: 50px;
  z-index: 10;
  grid-column: 3 / 4;
  color: var(--primary);
  justify-self: center;
  align-self: center;
}

@media (min-width: 1000px) {
  .large-nav {
    height: var(--navHeight);
    width: 100%;
    background-color: var(--secondary);
    z-index: 10;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .large-nav__list--item0 {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  .large-nav__list--item1 {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  #large-nav-fifty-two{
    margin: auto;
    font-size: 35px;
    font-weight: 700;
    z-index: 10;
    color: var(--primary);
    justify-self: center;
    align-self: center;
    border: 5px solid var(--primary);
  }
  #large-nav--logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 200px;
  }
  .large-nav__list--item2 {
    grid-column: 4 / 5;
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  .large-nav__list--item3 {
    grid-column: 5 / 6;
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  .large-nav__item {
    text-decoration: none;
    list-style-type: none;
    color: var(--primary);
    margin: 0;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    display: block;
  }
  .large-nav__item::after {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    bottom: 0px;
    left: 10px;
    background-color: #000;
    transform: scaleX(0);
    transition: all .25s linear;
    display: block;
  }
  .large-nav__item:hover::after {
    transform: scaleX(1);
    visibility: visible;
  }
}

.nav-dropdown {
  position: fixed;
  top: var(--navHeight);
  left: 0;
  background-color: var(--secondary);
  z-index: 9;
}

.nav-item {
  color: var(--primary);
  text-decoration: none;
  width: 100vw;
  list-style-type: none;
}

.nav-dropdown {
  animation: growDown 300ms ease-in-out forwards
} 

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}