.navbar {
  height: 65px;
  width: 100%;
  background-color: var(--secondary);
  position: fixed;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  top: 0;
  z-index: 4;
}

#hamburger-icon {
  height: 50px;
  width: 50px;
  z-index: 4;
  grid-column: 3 / 4;
  color: var(--primary);
  justify-self: center;
  align-self: center;
}

#navbar-phone {
  height: 50px;
  width: 50px;
  z-index: 4;
  grid-column: 1 / 2;
  color: var(--primary);
  justify-self: center;
  align-self: center;
}

#nav-fifty-two {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  z-index: 4;
  grid-column: 2 / 3;
  color: var(--primary);
  justify-self: center;
  align-self: center;
  border: 5px solid var(--primary);
}

#nav-clear-icon {
  height: 50px;
  width: 50px;
  z-index: 4;
  grid-column: 3 / 4;
  color: var(--primary);
  justify-self: center;
  align-self: center;
}

@media (min-width: 992px) {
  .links {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav-dropdown {
  position: fixed;
  top: 65px;
  left: 0;
  background-color: var(--secondary);
  z-index: 3;
}

.nav-item {
  color: var(--primary);
  text-decoration: none;
  width: 100vw;
  list-style-type: none;
}

.nav-dropdown {
  animation: growDown 300ms ease-in-out forwards
} 

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}